/* #record{
   border: 1px solid black;
   position: absolute;
  
   width:4.5vw;

  
   border-radius: 100%;
  
} */
#camera_btn{
    position: absolute;
    top: 80vh;
    margin-left:33vw;
    border:2px solid black;
    border-radius:24px;
    width:14vw;
    height:6vh
}
#record_btn{
    margin-left: 14vw;
    border: 2px solid black;
 position: absolute;
 top: 80vh;
 border-radius:24px;
 width:14vw;
 height:6vh;
}
#record_statement{
    position: absolute;
    top: 75vh;
    margin-left: 16.6vw;
    font-size: larger;
    font-weight: 550;
}
@media only screen and (max-width:425px) {
#camera_space{
    width: 40vw;
}
#cameradiv{
    margin-left:0vw;width:0vw;margin-top:8vh;
}
#camera_btn{

    top: 80vh;
    margin-left:36vw;
    border:2px solid black;
    border-radius:12px;
    width:16vw;
    height:8vh;
    font-size: 14px;
}
#record_btn{
    margin-left: 14vw;
    border: 2px solid black;
 position: absolute;
 top: 80vh;
 border-radius:12px;
 width:16vw;
 height:8vh;
 font-size: 13px;
}
#record_statement{
    position: absolute;
    top: 75vh;
    margin-left: 10vw;
    font-size: 13px;
    font-weight: 550;
}
}
