#left{
width: 40vw;
height: 100vh;
border: 1px solid black;
background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
display: flex;
justify-content: center;
align-items: center;
font-family: Arial, sans-serif;
}
#left_div{
    border-radius: 30px;
    width: 30vw;
    height: 80vh;
  background-color: rgb(255, 255, 255);
  position: relative;
  border: 3px solid black;


}
.button_div{
    border-bottom: 3px solid black;
   border-top-right-radius: 30px;
   border-top-left-radius: 30px;
    background-color: rgb(255, 255, 255);
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    /* width: 34vw; */
  
 
/* margin-left: 3vw;
margin-top: 8vh; */
row-gap: 0px;
}
.button_div button{
    width: 6.5vw;
    border: 1.4px solid black;
    margin: 0 2vw;
    height: 4vh;
    margin-top: 3vh;
    font-size: 13px;
    font-weight: 600;
}
/* #show{
    margin-left: 3vw;
    margin-top: 3vh;
    width: 34vw;
} */
 #show h1{
    margin-top: 20px;
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 700;
 }
#end{
  
   position: relative;
   left: 18vw;
   top: 8vw;
    border: 2px solid black;
font-size: 18px;
    width: 8vw;
    height: 6vh;
    background-color: red;
} 
#end:hover{
    background-color: rgb(181, 11, 11);
}
#transfer{
  
    align-items: center;
    width: 50vw;
    height:24vh;
    position: absolute;
    background-color:#e0f7fa;
    z-index: 100;
   
    top: 38vh;
    left: 25vw;
    border-radius: 25px;
    border: 1px solid black;
}
#transfer h1{
    font-size: 22px;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-align: center;
    padding-top: 4vh;

}
#transfer button{
    border: 1.5px solid black;
  
   
}
#yes{
    margin-left: 11vw;
    margin-top: 3.6vh;
}
#no{
    margin-left: 11vw;
    margin-top: 3.6vh;
}
 button{
    border: 1px solid black;
   width: 8vw;
   height: 7vh;
   padding: 2px 4px;
   background-color: #007BFF;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 22px;
   font-weight: 500;
   /* margin-left: 45.6vw; */
   /* margin-top: 2vh; */
}
 button:hover{
    background-color: #0056b3;
}
#start1{
    position: relative;
    top: 23vh;
    border: 2px solid black;

    width: 8vw;
    height: 6vh;
    margin-left: 4vw;
   
}

@media only screen and (max-width:425px) {
    #left{
        width: 100vw;
    }
    #left_div{
        width: 40vw;
        height: 80vh;
    }
    .button_div{
        border-bottom: 2px solid black;
   border-top-right-radius: 30px;
   border-top-left-radius: 30px;
    background-color: rgb(255, 255, 255);
    height: 20vh;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    justify-content: center;
    }
    .button_div button{
        width: 14vw;
        border: 1.4px solid black;
      margin-left: 10px;
        height: 4vh;
        margin-top: 1.5vh;
        font-size: 6px;
        font-weight: 600;
    }
    #show h1{
        margin-top: 5px;
        font-size: 12px;
        padding: 2px 4px;
        font-weight: 500;
     }
     #end{
  
        position: relative;
        left: 22vw;
        top: 13vh;
         border: 2px solid black;
     font-size: 10px;
         width: 15vw;
         height: 9vh;
         background-color: red;
     } 
     #start1{
        position: relative;
        top: 22vh;
        border: 2px solid black;
    font-size: 14px;
        width: 15vw;
        height: 9vh;
        margin-left: 3vw;
       
    }
 
    #vol{
        position: relative;
        top: 4vh;
        width: 20px;
        height: 20px;
    }
    #transfer{
  
        
        width: 80vw;
        height:22vh;
        position: absolute;
        background-color:#e0f7fa;
        z-index: 100;
       
        top: 38vh;
        left: 10vw;
        border-radius: 25px;
        border: 1px solid black;
        
    }
    #transfer h1{
        font-size: 13px;
        letter-spacing: 1px;
        word-spacing: 2px;
        text-align: center;
        padding-top: 2vh;
    
    }
    #transfer button{
        border: 1.5px solid black;
      width: 20vw;
      
       
    }
    #yes{
        margin-left: 14vw;
        margin-top: 3.6vh;
        font-size: 14px;
    }
    #no{
        margin-left: 16vw;
        margin-top: 3.6vh;
        font-size: 14px;
    }
}