#form{
    position: absolute;
    width: 36vw;
    height: 70vh;
    background:#f9f9f9;
    border: 2px solid black;
    z-index: 20;
    font-size:18px;
    font-weight: 450;
    left: 56vw;
    top: 1.2vw;
    font-family: sans-serif;
}
#hr1{
    width: 36vw;
}
#hr2{
   width:36vw;
   margin-Top:6vw;
}
#form h1{
    text-align: center;
    font-size: 28px;
}
#form label{
 display: inline-block;
  width:13vw;
  font-weight: 600;
    margin-top: 3vw;
    padding-left: 1vw;
}
#form input{
    position: relative;
    /* left: 1vw; */
    width: 20vw;
    margin-top: 8vh;
    padding: 4px;
    border: 1px solid black;
}
#submit{
border: 1px solid black;
width: 6vw;
height: 5vh;
position: relative;
left: 15vw;
top: 14vh;
border-radius: 2vw;
background-color: yellow; 
transition: all 0.1.5s ease-in-out;
}
#submit:hover{
    background-color: rgba(255, 255, 0, 0.571);   
}

#close{
    border-left: 3px solid black;
    background-color:red;
    width: 2.7vw;
    height: 2.7vw;
    position: relative;
    float: right;
    cursor: pointer;
   
}

@media only screen and (max-width:425px){
    #form{
        width: 80vw;
        height: 84vh;
        font-size:15px;
        left: 10vw;
    }
    #form h1{
        display: none;
        text-align: center;
        font-size: 20px;
        margin-top: 2vh;
        left: -2vw;
    }
    #form label{
        display: inline-block;
         width:100vw;
         font-weight:500;
           margin-top: 1vh;
           margin-left: -10vw;
           font-size: 14px;
           text-align: center;
          
       }
       #form input{
      
           position: relative;
           left: 12vw;
         top: -2vh;
           width: 55vw;
       }
       #close{
       left: -11vw;
       width: 6vw;
       height: 5vh;
       border-bottom: 1px solid black;
       }
       #hr1,#hr2{
display: none;
       }
       #submit{
        width: 20vw;
        left: 30vw;
        top: -1vh;
       }
}