*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: content-box;
}
#Home{
 
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    max-width: 100vw;
height: 100vh;
}
#Home_nav{
    display: none;
    /* background-color: green; */
    color: black;
    width: 100vw;
    height: 8vh;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    font-size: large;
    font-weight: 600;
}
#Home_nav ul{
    display: flex;
    margin-left: 33vw;
    padding-top: 0;
    
}
#Home_nav ul li{
    margin-left:12vw;
    transition: all 0.09s ease-in-out;
      &:hover{
        transform: scale(1.1);
        color: rgba(17, 17, 17, 0.881);
      } ; 
    
    cursor: pointer;
}
#Home_main{
    display: flex;
    position: absolute;
}
#Home_main svg{
position: relative;
top: 20vh;
left: 14vw;
width: 20vw;
height: 20vh;
cursor: pointer;
}
#btn_start{
    position: relative;
top: 30vh;
left: 20vw;
width: 14vw;
height: 8vh;
cursor: pointer;
background-color: red;
padding: 15px 30px;
font-size: 16px;
color: #fff;
background-color: #6abf83;
border: none;
border-radius: 5px;
cursor: pointer;
transition: transform 0.2s, background-color 0.3s;
}
#btn_start:hover{
    background-color: #4ea96d;
    transform: scale(1.05);
}
#btn_start:active{
    transform: scale(0.95);
}
#Home_main p{
    position: inherit;
    top: 39vh;
    left: 68vw;
    font-size: 28px;
    font-weight: 600;
}
#side-img{
  
    width: 50vw;
    height: 70vh;
  
    
}
#side-img img{
    position: relative;
    left: 8vw;
    top: 1vh;
 width: 540px;

}
#Home_bottom{
    width: 99.8vw;
    height: 26vh;
   position: absolute;
   top: 73.5vh;
}
#Home_bottom h1{
float: right;
margin-right: 2vw;
font-size: 28px;
font-weight: 600;
text-decoration: underline;
}
#Home_bottom_li{
    position: relative;
    top: 8vh;
    margin-right: -14.2vw;
    float: right;
    width:50vw;
    height: 18vh;
    border: 1px solid black;
}
@media only screen and (max-width:425px) {
    #Home{
        width: 100vw;
        height: 100vh;
        background-color: red;
    }
    #Home_nav{
        width:100vw;
        font-size: 22px;
    } 
    #Home_nav ul{
        margin-left: 1vw;
        
    }
    #Home_nav ul li{
        align-items: center;
       text-wrap: balance;
       margin-left: 6vw;
    }
    #side-img img{
        top: 2vh;
height: 400px;
       width: 400px;
       left: 30vw;

    }
    #Home_main svg{
        top:15vh;
       left: 22vw;
        width:18vw;
    }
    #btn_start{
        top: 70vh;
        left: -10vw;
    }
    #Home_main p{
        font-size: 17px;
        left: 65vw;
        top: 34vh;
    }
    #Home_bottom h1{
        position: relative;
        font-size: 18px;
        top: -4vw;
float: initial;
    }
    #Home_bottom_li{
        width: 100vw;
        float: none;
        top: -2vh;
        height: 20vh;
    }
}